.d-flex {
  display: flex;
}

.center-flex {
  align-items: center;
  justify-content: center;
}
.start-flex {
  align-items: start;
  justify-content: start;
}

.space-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: column;
}
