<div class="po-wrapper">
  <po-toolbar p-title="MyForecastMapBR"></po-toolbar>

  <po-menu [p-menus]="menus" [p-collapsed]="true"></po-menu>

  <po-page-default p-title="MyForecastMapBR">

    <div class="d-flex">
      <po-container class="po-md-7" p-title="Escolha a cidade para a previsão:">
        <po-combo
          p-field-label="nome"
          p-field-value="nome"
          p-icon="ph ph-map-trifold"
          [ngModel]="cityName"
          (ngModelChange)="cityName = $event"
          [p-filter-service]="cityService"
          (p-change)="loadWeatherByCity($event)"
          [p-change-on-enter]="true"
          p-disable-tab-filter
          p-placeholder="Selecione a cidade para consultar a previsão do tempo"
          p-label="Cidade"
          class="po-md-12">
        </po-combo>

        <po-container
         class="po-md-12">
          <div class="d-flex space-between">
            <p class="po-font-text-large-bold">Previsão do tempo de hoje para a cidade de {{ cityName }}</p>
            <i (click)="changeFavoriteCityState()" [class]="starStyle" style="font-size: 28px; color: gold;"></i>
          </div>
          <div class="d-flex space-between po-mt-3 po-md-12">
            <po-info class="po-md-3" p-label="Horário" [p-value]="simpleFormatField(forecastResults.time,'h')"></po-info>
            <po-info class="po-md-3" p-label="Temperatura atual" [p-value]="simpleFormatField(forecastResults.temp, '°C')"></po-info>
            <po-info class="po-md-3" p-label="Condição" [p-value]="forecastResults.description"></po-info>
            <div class="d-flex start-flex flex-row po-md-3">
              <span class="po-info-label">Tempo</span>
              <img [src]="weatherConditionImage" />
            </div>
          </div>
          <po-divider></po-divider>
          <div class="d-flex space-between po-mt-1 po-mb-2 po-md-12">
            <po-info class="po-md-3" p-label="Umidade" [p-value]="simpleFormatField(forecastResults.humidity, '%')"></po-info>
            <po-info class="po-md-3" p-label="Nebulosidade" [p-value]="simpleFormatField(forecastResults.cloudiness, '%')"></po-info>
            <po-info class="po-md-3" p-label="Chuva" [p-value]="simpleFormatField(forecastResults.rain, 'mm')"></po-info>
            <po-info class="po-md-3" p-label="Vento" [p-value]="forecastResults.wind_speedy"></po-info>
          </div>
          <po-divider></po-divider>
          <div class="d-flex space-between po-mt-1 po-md-12">
            <po-info class="po-md-3" p-label="Nascer do Sol" [p-value]="timeFormatField(forecastResults.sunrise)"></po-info>
            <po-info class="po-md-3" p-label="Pôr do Sol" [p-value]="timeFormatField(forecastResults.sunset)"></po-info>
            <po-info class="po-md-3" p-label="Fuso Horário" [p-value]="simpleFormatField(forecastResults.timezone, 'h')"></po-info>
            <div class="d-flex start-flex flex-row po-md-3">
              <span class="po-info-label">Fase da Lua</span>
              <img [src]="moonPhaseImage" />
            </div>
          </div>
        </po-container>
      </po-container>
      <po-container class="po-md-5" [p-title]="mapTitle">
        <app-totvs-map class="d-flex center-flex" (selectedStateEvent)="setState($event)"></app-totvs-map>
      </po-container>
    </div>

    <po-widget
      p-primary-label="Ver histórico de consultas"
      (p-primary-action)="slider.open()"
      p-title="Previsão do tempo para os próximos dias"
      class="po-md-12 po-mt-3 po-mb-3">

      <div class="d-flex space-between flex-row-correct">
        <ng-content *ngFor="let forecast of nextDaysForecast">
          <po-container>
            <div class="d-flex start-flex flex-row">
              <span class="po-info-label">{{ forecast.weekday + ": " + forecast.date }}</span>
              <img [src]="getConditionImage(forecast)">
                <po-info p-label="Min" [p-orientation]="orientation" [p-value]="simpleFormatField(forecast.min, '°C')"></po-info>
                <po-info p-label="Max" [p-orientation]="orientation" [p-value]="simpleFormatField(forecast.max, '°C')"></po-info>
            </div>
          </po-container>
        </ng-content>
      </div>

    </po-widget>

  </po-page-default>
  <po-page-slide
    p-title="Histórico de Consultas"
    #slider>

    <po-table
      p-container
      [p-hide-table-search]="false"
      [p-filtered-columns]="['city_name']"
      [p-sort]="true"
      [p-hide-columns-manager]="true"
      [p-items]="historyList"
      [p-columns]="historyColumns"
      [p-height]="tableHeight"
      class="po-md-12">
    </po-table>

  </po-page-slide>

  <po-modal
    #modal
    p-size="md"
    p-title="Cadastro de usuário">

    <po-page-login
      p-product-name="MyForecastMapBR"
      (p-login-submit)="getLogin($event)"
      [p-custom-field]="hasChangedView ? '' : customLoginField"
      [p-languages]="[]"
      [p-hide-remember-user]="true">
    </po-page-login>

    <po-accordion class="po-md-12 po-mt-2 po-mb-5" *ngIf="isAuthenticated && !hasChangedView">
      <po-accordion-item (p-expand)="changeDetector.markForCheck()" class="po-md-12" p-label="Lista de cidades favoritas">
        <po-table
          [p-hide-columns-manager]="true"
          p-container
          [p-items]="favoriteList"
          [p-columns]="favoriteColumns"
          class="po-md-12">
        </po-table>
      </po-accordion-item>
    </po-accordion>


    <po-modal-footer [p-disabled-align]="true">
      <po-button class="po-mr-1" *ngIf="isAuthenticated && !hasChangedView"  p-kind="secondary" p-label="Trocar usuário" (p-click)="changeView()"></po-button>
      <po-button class="po-mr-1" *ngIf="!isAuthenticated && hasChangedView"  p-kind="secondary" p-label="Novo usuário" (p-click)="changeView()"></po-button>
      <po-button class="po-mr-1" *ngIf="!isAuthenticated && !hasChangedView" p-kind="secondary" p-label="Login" (p-click)="changeView()"></po-button>
      <po-button class="po-ml-1" p-kind="primary" p-label="Fechar" (p-click)="closeModal()"></po-button>
    </po-modal-footer>

  </po-modal>
</div>


